#main{
	min-height: 80vh;
}

.col-centered {
	margin: 2%;
}


a:hover {
	text-decoration: none;
}

@media screen and (max-width: 768px) {
.col-centered {
	margin-right: 0;
	margin-left: 0;
}

}